
body {
    color:antiquewhite;
    background-size: 100%;
    background-color: rgba(49, 49, 49, 0.986);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

div a {
    text-decoration: inherit;
    color:antiquewhite
}

.header {
    font-family: monospace;
    text-align: center;  
}

.menu {
    
    margin: auto;
    margin-bottom: 100px;
    width: 50%;
    border-width: 3px;
    border-style:outset;
    border-width: 0px 0px 3px 0px;
    background-color:rgba(119, 119, 119, 0.116);
    border-color:rgba(194, 194, 194, 0.144);
}

.menu ul {
    list-style: none;
}

.menu li {
    margin-top: 2%;
    display:inline-block;
    padding-left: 45px;
    padding-right: 100px;
}

.middle {
    display: flex;
    margin: auto;
    width: 50%;
    border-style:outset;
    border-width: 0px 1px 3px 1px;
    background-color:rgba(119, 119, 119, 0.116);
    border-color:rgba(194, 194, 194, 0.144);
}

.img {
    padding: 5%;
    width: 50%;
    height:100%;
}

#capivara {
    width: 100%;
    height: auto;
    border-radius: 80%;
}

.sobre-mim {
    width: 50%;
    height: 100%;
    padding: 5%;
}

#texto{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.habilidades {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    border-style:outset;
    border-width: 0px 0px 3px 0px;
    border-color:rgba(194, 194, 194, 0.144);
    line-height: 40px;
}

#habilidade {
    padding-top: 3%;
    text-align: left;
}

.hardskill {
    margin:auto;
}

.softskill {
    width: 50%;

}